<h1>Sprocket Change</h1>

<h2>Navigation</h2>
<ul>
  <li><a href='/customers/lookup'>Customer Lookup</a></li>
  <li><a href='/schedule'>Work Schedule</a></li>
  <li><a href='/pricing'>General Pricing</a></li>
</ui>