<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title><%= @tab %></title>
    <link rel='stylesheet' href='/stylesheets/shop.css'>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>