* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  margin: 10px;
}

header li {
  display: inline-block;
}

label {
  display: block;
}

dl#workorder_info dt,
dl#workorder_info dd {
  display: inline;
}