<form action='/users/signin/success' method='post'>
  <dl class='inline'>
    <dt><label for='username'>Username:</label>
    <dd>
      <input type='text' name='username' id='username'>
    </dd>
  </dl>
  <dl class='inline'>
    <dt><label for='password'>Password:</label>
    <dd>
      <input type='password' name='password' id='password'>
    </dd>
  </dl>

  <button type='submit'>Sign In</button>
</form>